---
name: pylint

"on":
  push:
    branches:
      - main # Set a branch to deploy
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: jdx/mise-action@v3
      - name: Running tests
        run: |
          mise ruff
